@font-face {
	font-family: "Pudelinka";
	src: url("Fonts/pudelinka.ttf" ) format('truetype');
	font-weight: normal;
	font-style: normal;
}
body{
blockquote.q {
color: white;
font-style: italic;
	background-color: #F08080;
}
	background-color: #98FB98;
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px 10px 10px 10px;
	font-family: sans serif;
    }
p.quote { font-family: "Pudelinka", cursive;}
